services:
  react-app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: react-app
    ports:
      - "5173:5173"
    volumes:
      - ./my-app:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    stdin_open: true
    tty: true
